<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
<style>
    #nosearch-img {
        width: 300px;
    }
    * {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    }
    .card img {
      width: 263px;
      height: 207px;
      object-fit: cover;
      padding : 28px;
    }
    .card {
        border: 2px solid brown;
    }
    .col-md-3 {
        padding-bottom : 15px;
    }
    h5 {
        margin-left: 10px;
        margin-right: 10px;
    }
    #status_board {
        top: 160px;
        position: fixed;
        z-index: 2;
        margin-left: 21px;
    }
    #remaining_days {
        top: 114px;
        position: fixed;
        width: 300px;
        height: auto;
        z-index: 4;
        margin-left: 50px;
    }
    .table {
        display: block;
        width: 320px;
        border-bottom: solid darkred;
    }
    .table td {
        vertical-align: baseline;
        padding : 2px;
    }
    .table th{
        padding : 2px;
    }
    .table thead th {
        border-top: 3px solid darkred;
        border-bottom: 3px solid darkred;
    }
    #tbody th {
        padding : 2px;
    }
    .table th:nth-of-type(1), .table td:nth-of-type(1) {
        width: 40px;
    }
    .table th:nth-of-type(2), .table td:nth-of-type(2) {
        width: 120px;
    }
    .table th:nth-of-type(3), .table td:nth-of-type(3) {
        width: 68px;
    }
    .table th:last-child {
        width: 70px;
    }

    .table td:last-child {
        padding : 2px;
        width: calc( 100px - 19px );
    }
    #delete {
        margin-left : 10px;
    }
    #tbody {
        display: block;
        height: 410px;
        overflow: auto;
    }
    body {
        overflow: hidden;
    }
    #card-row {
        height: 650px;
        overflow-y: scroll;
    }
</style>
<body>
<div id="remaining_days">

</div>
<div id="status_board">
    <h4>이번달 순위 현황</h4>
    <table class="table">
        <thead>
        <tr>
            <th  scope="col">순위</th>
            <th  scope="col">간식명</th>
            <th  scope="col">카테고리</th>
            <th  scope="col">득표 수</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row">
        <div class="col-md-2">
            <h3>간식 리스트</h3>
        </div>
        <div class="col-md-3">
            <span style="display: inline-block">카테고리</span>
            <select id="category" name="category" class="form-control" style="display: inline-block; width: 70%; margin-left: 10px;">
                <option value="">전체</option>
                <option value="과자">과자</option>
                <option value="초콜릿">초콜릿</option>
                <option value="파이">파이</option>
                <option value="젤리">젤리</option>
                <option value="사탕">사탕</option>
                <option value="소시지">소시지</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="간식명을 입력하세요" maxlength="30">
            </div>
        </div>
    </div>
    <div id="card-row" class="row">

    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
<div style="padding-bottom: 1px;">
</div>
</body>
</html>
<script type="text/javascript" src="/js/adminChk.js"/></script>
<script>
let today = new Date();

let year = today.getFullYear();
let month = today.getMonth() + 1
let date = today.getDate();

let lastDate = new Date(year, month, 0).getDate();

let remainingDay = lastDate - date;
$("#remaining_days").append("<h3>"+month+"월 남은 투표기간 : "+(remainingDay+1)+"일</h3>");

var userinfo = adminChk();
var loginUser = userinfo.id;

var monthVoteCheck = new Boolean();
month_vote_check();
this_month_snack_rank();

        $.ajax({
            type: "GET",
            url: "/votePage/items",
            success : function(result){
                init_snack_list(result, thisMonthMyChooseSnack());
            },
            error : function(a, b, c){
                alert(a + b + c);
            }
        });

       $("#name").on('change, keydown',function(key) {
            let name = $("#name").val();
            let category = $("#category").val();
            if (key.keyCode == 13) {
                search_item(name, category);
            }
        });

        $("#category").on("change", function(){
            let name = $("#name").val();
            let category = $("#category").val();
            search_item(name, category);
        })

        function search_item(name, category) {
            $.ajax({
                type: "GET",
                url: "/votePage/search/items",
                data : { name : name, category: category},
                success : function(result){
                    console.log(result);
                    $("#card-row").empty();
                    init_snack_list(result, thisMonthMyChooseSnack());
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }

        function insert_vote(id) {
            if(!monthVoteCheck){
                alert("이번달은 이미 투표하셨습니다.");
                return false;
            }
            let a = id.parentNode.parentNode;
            console.log(a);
            let snack_id = $(a).find("#snack-id").val();
            $.ajax({
                type: "POST",
                url: "/votePage/insert/vote",
                data: { id : snack_id },
                success : function(result){
                    alert("투표 완료되었습니다.");
                    location.replace('/votePage');
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }

        function update_snack_page(id) {
            let a = id.parentNode.parentNode.parentNode;
            let snack_id = $(a).find("#snack-id").val();
            location.href = "items/"+snack_id+"/edit";
        }

        function delete_snack(id) {
            if(confirm("정말 삭제하시겠습니까?") == true) {
                let a = id.parentNode.parentNode.parentNode;
                let snack_id = $(a).find("#snack-id").val();
                $.ajax({
                    type: "POST",
                    url: "/items/delete",
                    data: {id : snack_id},
                    success : function(result){
                        let request = result.status;
                        if(request === "OK") {
                            location.replace('/votePage');
                        } else {
                            alert("error");
                        }
                    },
                    error : function(a, b, c){
                        alert(a + b + c);
                    }
                });
            } else {
                return false;
            }
        }

        function init_snack_list(result, myChooseSnackId) {
            let chooseSnackId = myChooseSnackId[0][1];

            if(result.length === 0) {
                $(".row").css('align-items', 'center');
                $("#card-row").append(
                    "<img id='nosearch-img' src='/image/deadcookie.png' alt='과자' />" +
                    "<h1> 검색 결과가 존재하지 않습니다. </h1>"
                );
                return;
            } else {
                $(".row").css('justify-content', '');
                let snackName = "";
                let snackImageSrc = "";
                var cardStyle = "";
                for(let i = 0; i < result.length; i++){
                    snackName = result[i].name;
                    snackImageSrc = result[i].filePath;
                    snackId = result[i].itemId;
                    userId = result[i].userId;
                    createUser = "등록자 : "+result[i].createUser;

                    if(userId === loginUser) {
                        cardStyle = "style = 'float:right' ";
                    } else {
                        cardStyle = "style = 'display: none; float:right' ";
                    }

                    if(chooseSnackId === snackId) {
                        console.log("뵤!");
                    }

                    if(snackImageSrc === null) {
                        snackImageSrc = "/image/default.png";
                    }

                    $("#card-row").append(
                            "<div class='col-md-3'>"+
                                "<div class='card'>"+
                                    "<input type=hidden id='snack-id' name='snack-id' >"+
                                    "<img src="+ snackImageSrc +" alt='과자' />"+
                                    "<h5 style='border-top : 2px solid brown; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; width: 247px; height: 25px;'>" + snackName + "</h5>"+
                                    "<h5 style='height: 25px; text-align: end;'>" + createUser + "</h5>"+
                                    "<div class='card-body' style='padding-top: 5px; padding: 0.5rem;'>"+
                                        "<button type=button id='vote' class='btn btn-primary' onclick=insert_vote(this)> 투표 </button>"+
                                        "<button type=button id='delete' " + cardStyle + " class='admin btn btn-danger' onclick=delete_snack(this)> 삭제 </button>"+
                                        "<button type=button id='modify' " + cardStyle + " class='admin btn btn-success' onclick=update_snack_page(this)> 수정 </button>"+
                                    "</div>"+
                                "</div>"+
                            "</div>");
                    $("input[name=snack-id]").eq(i).val(snackId);
                }
                adminChk();
            }
        }

        function this_month_snack_rank() {
            $.ajax({
                type: "GET",
                url: "/votePage/snackRanking",
                async: false,
                success : function(result){
                    let snackStatusFirst = "<img style='width:120px;' src="+result[0].filePath+" alt='과자' />" ;
                    for(let i = 0; i < result.length; i++) {
                        $("#tbody").append(
                            "<tr>" +
                            "<td scope='row'>"+(i+1)+"</td> "+
                            "<td>"+
                            snackStatusFirst+
                            "<p>"+result[i].name+"</p>" +
                            "</td> "+
                            "<td>"+result[i].cate_gory+"</td> "+
                            "<td>"+result[i].count+"</td> "+
                            "</tr>"
                        );
                        snackStatusFirst = "";
                    }
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }

        function month_vote_check() {
            $.ajax({
                type: "GET",
                url: "/votePage/monthVoteChk",
                async: false,
                success : function(result){
                    if(result > 0) {
                        monthVoteCheck = false;
                    } else {
                        monthVoteCheck = true;
                    }
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }
        function thisMonthMyChooseSnack() {
            let snack_id;
            $.ajax({
                type: "GET",
                url: "/votePage/myChooseSnack",
                async: false,
                success : function(result){
                    snack_id = result;
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
            return snack_id;
        }
</script>