<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<style>
    img {
      width: 368px;
      height: 300px;
      object-fit: cover;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="row">
        <div class="col-md-3">
            <h3>간식 리스트</h3>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" id="name" name="name" class="form-control" placeholder="간식명을 입력하세요">
            </div>
        </div>
    </div>
    <div id="card-row" class="row">

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
<script type="text/javascript" src="/js/adminChk.js"/></script>
<script>
var monthVoteCheck = new Boolean();
month_vote_check();

        $.ajax({
            type: "GET",
            url: "/votePage/items",
            success : function(result){
                init_snack_list(result);
            },
            error : function(a, b, c){
                alert(a + b + c);
            }
        });

       $("#name").keydown(function(key) {
            let searchSnackName = $("#name").val();
            if (key.keyCode == 13) {
                $.ajax({
                    type: "GET",
                    url: "/votePage/search/items",
                    data : { name : searchSnackName},
                    success : function(result){
                        $("#card-row").empty();
                        init_snack_list(result);
                    },
                    error : function(a, b, c){
                        alert(a + b + c);
                    }
                });
            }
        });

        function insert_vote(id) {
            if(!monthVoteCheck){
                alert("이번달은 이미 투표하셨습니다.");
                return false;
            }
            let a = id.parentNode.parentNode.parentNode.parentNode;
            let snack_id = $(a).find("#snack-id").val();
            $.ajax({
                type: "POST",
                url: "/votePage/insert/vote",
                data: { id : snack_id },
                success : function(result){
                    alert("투표 완료되었습니다.");
                    month_vote_check();
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }

        function update_snack_page(id) {
            let a = id.parentNode.parentNode.parentNode.parentNode;
            let snack_id = $(a).find("#snack-id").val();
            location.href = "items/"+snack_id+"/edit";
        }

        function delete_snack(id) {
            let a = id.parentNode.parentNode.parentNode.parentNode;
            let snack_id = $(a).find("#snack-id").val();
            $.ajax({
                type: "POST",
                url: "/items/delete",
                data: {id : snack_id},
                success : function(result){
                    let request = result.status;
                    if(request === "OK") {
                        location.replace('/votePage');
                    } else {
                        alert("error");
                    }
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }

        function init_snack_list(result) {
            let snackName = "";
            let snackImageSrc = "";
            for(let i = 0; i < result.length; i++){
                snackName = result[i].name;
                snackImageSrc = result[i].filePath;
                snackId = result[i].id;
                if(snackImageSrc === null) {
                    snackImageSrc = "/image/default.jpg";
                }

                $("#card-row").append(
                        "<div class='col-4'>"+
                            "<div class='card'>"+
                                "<input type=hidden id='snack-id' name='snack-id' >"+
                                "<div class='card-header'>"+
                                    "<strong>"+snackName+"<strong>"+
                                "</div>"+
                                "<img src="+ snackImageSrc +" alt='과자' />"+
                                "<div class='card-body'>"+
                                    "<button type=button id='vote' class='btn btn-primary' onclick=insert_vote(this)> 투표하기 </button>"+
                                    "<button type=button id='delete' style='display: none; float:right;' class='admin btn btn-danger' onclick=delete_snack(this)> 삭제 </button>"+
                                    "<button type=button id='modify' style='display: none; float:right;' class='admin btn btn-success' onclick=update_snack_page(this)> 수정 </button>"+
                                "</div>"+
                            "</div>"+
                        "</div>");
                $("input[name=snack-id]").eq(i).val(snackId);
            }
            adminChk();
        }

        function month_vote_check() {
            $.ajax({
                type: "GET",
                url: "/votePage/monthVoteChk",
                async: false,
                success : function(result){
                    if(result > 0) {
                        monthVoteCheck = false;
                    } else {
                        monthVoteCheck = true;
                    }
                },
                error : function(a, b, c){
                    alert(a + b + c);
                }
            });
        }
</script>