<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<style>
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    .btn {
        width: 250px;
    }
</style>
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div style="text-align: center;">
        <h1>Sweet snack</h1>
        <p style="margin-bottom: 70px;" class="lead"></p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/votePage">간식 리스트</a>
        </p>
        <p style="margin-bottom: 70px;" class="lead"></p>
        <p>
            <a style="display: none;" class="admin btn btn-lg btn-dark" href="/items/new">간식 등록</a>
        </p>
        <p style="margin-bottom: 70px;" class="lead"></p>
        <p>
            <a style="display: none;" class="admin btn btn-lg btn-info" href="/total">간식 투표 차트</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script type="text/javascript" src="/js/adminChk.js"/></script>
<script>
    adminChk();
</script>