<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>간식 투표 사이트</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
</style>
<body>
<div class="limiter">
    <div class="container-login100">
        <div style="background: inherit;" class="wrap-login100 p-t-50 p-b-20">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						이번 달 먹고싶은 간식에 투표하세요!
					</span>
                <span class="login100-form-avatar">
						<img src="/image/happy-cookie.jpg" alt="AVATAR">
					</span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "아이디를 입력하세요">
                    <input class="input100" type="text" id="userId" name="username">
                    <span class="focus-input100" data-placeholder="Userid"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="비밀번호를 입력하세요">
                    <input class="input100" type="password" id="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="button" id="btn-Yes" class="login100-form-btn">
                        login
                    </button>
                </div>

                <ul class="login-more p-t-140">
                    <div th:replace="fragments/footer :: footer" />
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
$("#password").keydown(function(key) {
    if(key.keyCode == 13) {
        $("#btn-Yes").click();
    }
})

$("#btn-Yes").click(function(){
    let userId = $("#userId").val();
    let password = $("#password").val();

    if(userId === "" || password === "" ){
        return;
    }

    let data = {
        id : userId,
        password : password
    };

    $.ajax({
        type: "POST",
        url: "/api/login",
        data : data,
        success : function(result){
            console.log(result);
            let request = result.status;
            if(request === "OK") {
                location.replace('home');
            } else {
                alert("아이디 및 비밀번호를 잘못입력하셨습니다.");
            }
        },
        error : function(a, b, c) {
            alert("error");
        }
    })
});
</script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>