<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <div class="row">
        <div class="col-md-7">
            <a href="/"><h3 class="text-muted">Choose Snack</h3></a>
        </div>
        <div class="col-md-4">
            <div style="left: 85px; bottom: 13px; position: relative;">
                <a href="/profile" id="logout">
                    <img id="user-header-img" style="width: 61px; height: 56px;">
                    <h4 id="profile-name" style="display: inline-block"></h4><strong> 프로필</strong>
                </a>
            </div>
        </div>
        <div class="col-md-1">
            <a href="/api/logout" id="logout" style="float:right;">로그아웃</a>
        </div>
    </div>
</div>